.wrapper {
    margin-top: 20px;
    background-color: cadetblue;
    color: white;
    padding: 10px 0;
    width: 100%;
}

.title-name {
    margin-top: 20px;
    font-size: x-large;
}
.title-col4 {
    margin-top: 20px;
}
.title-footer {
    float: left;
}
.aCss {
    text-decoration: none;
    color: white;
}
.liCss {
    list-style-type: none;
}
.title-col2 {
    margin-top: 20px;
}
